/* fonts
------------------------------------------------- */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    src: local('Ubuntu Light'), local('Ubuntu-Light'), url(../fonts/Ubuntu-Light.woff) format('woff');
}
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url(../fonts/Ubuntu.woff) format('woff');
}
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url(../fonts/Ubuntu-Medium.woff) format('woff');
}
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(../fonts/Ubuntu-Bold.woff) format('woff');
}
@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 300;
    src: local('Ubuntu Light Italic'), local('Ubuntu-LightItalic'), url(../fonts/Ubuntu-LightItalic.woff) format('woff');
}
@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 400;
    src: local('Ubuntu Italic'), local('Ubuntu-Italic'), url(../fonts/Ubuntu-Italic.woff) format('woff');
}
@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 500;
    src: local('Ubuntu Medium Italic'), local('Ubuntu-MediumItalic'), url(../fonts/Ubuntu-MediumItalic.woff) format('woff');
}
@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 700;
    src: local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'), url(../fonts/Ubuntu-BoldItalic.woff) format('woff');
}



/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    font-weight: 400;
    font-family: Ubuntu, Arial, Verdana, sans-serif;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 36px;
    font-size: 12px;
    font-family: Ubuntu, Arial, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Ubuntu, Arial, Verdana, sans-serif;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1{
    font-size: 22px;
}

h3{
    font-size: 18px;
}

h3{
    font-size: 15px;
}




.navbar-brand {
    font-size: 14px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 36px;
    background-color: #f5f5f5;
    font-weight: 300;
}

.app-page {
    padding: 65px 5px 0;
    display: none;
}

#home-page{
    display: block;
}

#footer > .container {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    text-align: center;
}

/* overlay
----------------- */

#overlay-black{
    position: fixed;
    color: #000;
    width: 100%;
    height: 100%;
}

/* hide class
----------------- */

.display-none{
    display: none;
}

/* navigation
------------------ */

#navbar-back-button {
    float: left;
    margin-left: 10px;
    margin-right: 0;
    font-size: 18px;
    color: #777;
}

#navbar-back-button span{
    height: 14px;
    display: block;
}

.app-page-button {
    color: #777;
    text-decoration: none;
    background-color: #eee;
    text-shadow: 0 1px 0 rgba(255,255,255,.25);
    line-height: 20px;
    position: relative;
    display: block;
    padding: 10px 15px;
    cursor: pointer;
}

.app-page-button:hover{
    color: #333;
    background-color: #fff;
}

.active-app-page-button{
    color: #444;
    background-color: #d1d1d1;
}

/* button
--------------------- */

.btn-app{
    display: block;
    text-align: center;
    width: 100%;
    height: 34px;
    color: #666;
    border-radius: 5px;
    border: 1px solid #bbb;
}

#mail-body-input{
    height: 170px;
}

.form_error_text {
    margin-bottom: 10px;
    display: none;
}

.contacts-list-item{
    border-bottom: 1px solid #ccc;
}

.contacts-photo{
    float: left;
    width: 50px;
    height: 50px;
    margin: 5px 10px 5px 0;
    background-color: #aaa;
}
.contacts-name{
    float: right;
    margin-top: 20px;
}